html, body {
    margin: 0;
    padding: 0;
}

.game {
    height: 100vh;
    width: 100vw;
    background-color: #f1d3aa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.attack {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: yellow;
}

.hp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
}

.mana {
  position: relative;
  width: 22px; 
  height: 12.70px;
  background-color: rgb(71, 109, 212);
  margin: 6.35px 0;
}

.mana:before,
.mana:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.mana:before {
  bottom: 100%;
  border-bottom: 6.35px solid rgb(71, 109, 212);
}

.mana:after {
  top: 100%;
  width: 0;
  border-top: 6.35px solid rgb(71, 109, 212);
}

.mana.empty {
    background-color: rgb(192, 192, 192);
}

.mana.empty:before, .mana.empty:after {
    border-top-color: rgb(192, 192, 192);
    border-bottom-color: rgb(192, 192, 192);
}